.header {
    background: var(--gray-500);
    height: 5.5rem;
    width: 100%;

    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
    justify-content: space-between;
    display: flex;
    align-items: center;
    
    border-bottom: 1px solid var(--gray-400);
}



img {
    width: 13rem;
    margin-right: 2rem;
}
