.app {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper {
    max-width: 120rem;
    
    display: grid;
    grid-template-columns: 700px 1fr;
    gap: 3rem;
    align-items: flex-start;
}


@media (max-width: 1000px) {
    html {
        font-size: 0.6rem;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}